

<div class="text-center">
    <form method="post" action="/Login/Checkuser">
        用户名：<input type="text" name="username" value="" /><br />
        密码：  <input type="text" name="password" value="" /><br />
        <input type="submit" value="登录" />
    </form>
</div>