@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" action="/main/add">
    登录名<input type="text" name="UserName" /><br />
    姓名<input type="text" name="RelName" /><br />
    学号<input type="number" name="No" /><br />
    密码<input type="password" name="Password" /><br />
    性别<input type="text" name="Sex" /><br />
    年龄<input type="text" name="Age" /><br />
    年级<input type="text" name="Grade" /><br />
    生日<input type="text" name="Birthday" /><br />
    籍贯<input type="text" name="From" /><br />
    身份<input type="text" name="Position" /><br />
    专业<input type="text" name="Department" /><br />
    <input type="submit" value="提交" />
</form>